$black: #000000;
$dark-grey: #5F5F5F;
$grey: #E9E7ED;
$white: #FFFFFF;
$green: #1FB622;
$bright-turquoise: #00FFD9;
$orangered: orangered;

$primary: $black;
$secondary-dark: $dark-grey;

$highlight-header: $bright-turquoise; 
$highlight-win: $green;

$body-background: $white;
$grey-background: $grey;

$warning-color:  $orangered;