// FONT
$default-font-size: 1.6rem;

$large-font-size: 1.8rem;
$larger-font-size: 2rem;
$largest-font-size: 2.2rem;

$small-font-size: 1.4rem;
$smaller-font-size: 1rem;
$smallest-font-size: 0.8rem;
$v-smallest-font-size: 0.4rem;
